<div class="w3-panel">
    <h2>Available Profiles</h2>
    <div class="w3-container">
        <ul class="w3-ul w3-card">
            {{#each this }}
            <li class="w3-bar">
                <div id="{{this.uuid}}" class="w3-bar-item w3-left">
                    <button class="w3-button w3-theme" onclick="load_saves('{{this.uuid}}')">Load Backups</button>
                </div>
                <div class="w3-bar-item w3-tooltip">
                    {{#if this.meta_data.alias}}
                    <span class="w3-large">{{this.meta_data.alias}}</span>
                    <span class="w3-text w3-tag w3-round-xlarge w3-theme">{{this.uuid}}</span>
                    {{else}}
                    <span class="w3-large">{{this.uuid}}</span>
                    {{/if}}
                    <br>
                    <span>{{date-time date=this.modified}}</span>
                </div>
                <div class="w3-bar-item w3-right">
                    <button class="w3-button w3-theme" onclick="open_snowrunner_modal('{{this.uuid}}')">Backup</button>
                    <button class="w3-button w3-theme">&#x2630;</button>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<div id="saves" class="w3-panel">

</div>
<div id="snowrunner-save-modal" class="w3-modal">
    <div class="w3-modal-content">
        <div class="w3-card">
            <header class="w3-panel w3-theme">
                <h2>Save Profile</h2>
            </header>
            <div class="w3-container">
                <span onclick="close_snowrunner_modal()" class="w3-button w3-display-topright">&times;</span>
                <div class="w3-row w3-section">
                    <input id="snowrunner-save-name" type="text" class="w3-input w3-border w3-round" placeholder="Name">
                </div>
                <div class="w3-row w3-section">
                    <button class="w3-button w3-theme w3-block w3-padding" onclick="backup_snowrunner()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>